.app-modal-window .modal-dialog {
  width: 500px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: red !important;
  color: red !important;
}

