<div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
  <p align="left"><button type="button" class="btn btn-success" (click)="openModal(element)">
      <i class="fa fa-comments-o margin"></i>Suivis candidat</button></p>
</div>
<ng2-smart-table [settings]="settings" [source]="suivis" (custom)="chooseAction($event, element, delete)" ></ng2-smart-table>
<ng-template #element>
  <h2 mat-dialog-title></h2>
  <form #f="ngForm">
  <mat-dialog-content class="mat-typography">
    <div class="card-body" >
        <div class="form-group row">
          <label class="col-md-3 col-form-label" ><strong>Description</strong></label>
          <div class="col-md-9">
            <textarea required id="textarea-input" [(ngModel)]="Description_Action" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><strong>Avancement</strong></label>
          <div class="col-md-9">
            <select [disabled]="disabled" [(ngModel)]="sequence" name="sequence" class="form-control" required>
              <option value="Entretien Technique" >Entretien Technique</option>
              <option value="Entretien Orale" >Entretien Orale</option>
              <option value="Entretien RH" >Entretien RH</option>
              <option value="Autres" >Autres</option>
            </select>
          </div>
        </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" ><strong>Statut</strong></label>
        <div class="col-md-9">
          <select [disabled]="disabled" [(ngModel)]="status" name="status" class="form-control" required>
            <option value="En cours" >En cours</option>
            <option value="Terminer" >Terminer</option>
          </select>
        </div>
      </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="date_input"><strong>Date de Suivi</strong></label>
          <div class="col-md-9">
            <input class="form-control"  [(ngModel)]="date_input" id="date_input" type="date" name="date_input" placeholder="date" required>
            <span class="help-block">Veuillez entrer une date valide</span>
          </div>
        </div>
<!--        <div class="form-group row">-->
<!--          <label class="col-md-3 col-form-label" ><strong>Attacher une piéce jointe</strong></label>-->
<!--          <label class="col-md-3 col-form-label" for="file-multiple-input"></label>-->
<!--          <div class="col-md-9">-->
<!--            <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>-->
<!--          </div> </div>-->
        </div>
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
      <p align="right">
        <button mat-button mat-dialog-close (click)="close()">Annuler</button>
        <button mat-button [disabled]="f.invalid" [mat-dialog-close]="true" (click)="addSuivis(idCandidatureSteps)" cdkFocusInitial>valider</button>
      </p>
    </div>
  </mat-dialog-actions>
  </form>
</ng-template>
<ng-template #delete>
  <strong>Confirmation De La Suppression</strong>
  <h2 mat-dialog-title></h2>
  <mat-dialog-content class="mat-typography">
    <div class="card-body">
      <p>Etes-vous sur de vouloir supprimer cet Suivis ?</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="close()">Annuler</button>
    <button mat-button [mat-dialog-close]="true" (click)="deleteSuivis()" cdkFocusInitial>supprimer</button>
  </mat-dialog-actions>
</ng-template>

