<div>
<a href="/en/flux-rss"><i class="fa fa-rss-square" style="color: #ee8633; font-size: 25px;"></i></a>
<a href="http://www.linkedin.com/company/actia" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square" style="color: #0274b3; font-size: 25px;"></i></a>
<a href="http://www.youtube.com/ActiaOfficialCom" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-square" style="color: #c8302b; font-size: 25px;"></i></a>
<a href="https://www.facebook.com/ACTIAGroup" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square" style="color: #3c5a9a; font-size: 25px;"></i></a>
</div>
<!--<div class="buttons">-->
<!--  <div class="action_btn">-->
<!--    <button type="button" class="btn btn-success" onclick=""><i class="fa fa-plus fa-lg "></i>  Créer candidat</button>-->
<!--    <button type="button" class="btn btn-success" onclick=""> <i class="icon-cloud-download "></i> importer CV</button>-->
<!--    <p id="saved"></p>-->
<!--  </div></div>-->
