<div class="buttons">
  <div class="action_btn">
    <button type="button" class="btn btn-success" onclick=""><i class="fa fa-plus fa-lg "></i>candidat</button>
    <button type="button" class="btn btn-success" onclick=""> <i class="icon-cloud-download "></i>importer CV</button>
    <p id="saved"></p>
    <input type="search" class="form-control ds-input" id="search-input" placeholder=""  aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
  </div></div>

